<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/dist/app.css">
    <link rel="stylesheet" href="/dist/bundle.js">

    <title>Sarah Rios Portfolio</title>
  </head>

  <body>

    <%- include ('./partials/nav.ejs'); -%>
    <!-- <div class="container border">
       <div class="row text-align-end">
           <span>Sarah Rios</span>
       </div> 
       <div class="row col-4">
           <img src="https://www.parentingforbrain.com/wp-content/uploads/brain-development-children.jpg">
       </div>
    </div> -->

<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
     HELLO
    </div>
  </section>

 
   

</main>

<%- include ('./partials/footer.ejs'); -%>


</body>
</html>